/* Vazir Regular */
@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazir.eot");
  src: url("../assets/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Vazir.woff2") format("woff2"),
    url("../assets/fonts/Vazir.woff") format("woff"),
    url("../assets/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Vazir Thin */
@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazir-Thin.eot");
  src: url("../assets/fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Vazir-Thin.woff2") format("woff2"),
    url("../assets/fonts/Vazir-Thin.woff") format("woff"),
    url("../assets/fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Vazir Light */
@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazir-Light.eot");
  src: url("../assets/fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Vazir-Light.woff2") format("woff2"),
    url("../assets/fonts/Vazir-Light.woff") format("woff"),
    url("../assets/fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Vazir Medium */
@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazir-Medium.eot");
  src: url("../assets/fonts/Vazir-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/Vazir-Medium.woff2") format("woff2"),
    url("../assets/fonts/Vazir-Medium.woff") format("woff"),
    url("../assets/fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Vazir Bold */
@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazir-Bold.eot");
  src: url("../assets/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Vazir-Bold.woff2") format("woff2"),
    url("../assets/fonts/Vazir-Bold.woff") format("woff"),
    url("../assets/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: vazir;
  overflow-x: hidden;
}
* {
  box-sizing: inherit;
}

h3,
h1,
p {
  line-height: 1.6;
}

.article-card {
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ),
    url(https://picsum.photos/id/1050/800/600);
  background-size: cover;
  background-position: center;
}
.kaboom {
  margin-top: 3.2rem;
}

@media screen and (max-width: 64em) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 48em) {
  html {
    font-size: 58%;
  }
}
